html {
  position: relative;
  min-height: 100%;
}
/*<Mikhail Timofeev> (<16 September – 02 December>) <Web applications/CSS, JavaScript>Code provider can be found at https://moodle.cct.ie/ .*/
/*style of the code*/
/*(fixed background) W3schools 1999, accessed 05 November 2019, <https://www.w3schools.com/cssref/pr_background-attachment.asp>  */
body {
    background-image: url("https://wallpaperaccess.com/full/1305370.jpg");
        background-repeat:no-repeat;
  background-attachment: fixed;
 /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
table, th, td {
     border-collapse: collapse;
     border: 1px solid black;
     text-align: center;
}
 table {
     border-collapse: collapse;
     width:100%;
}
 td, th {
     border: 1px solid #999;
     padding: 0.5rem;
     text-align: left;
}
 th {
     font-weight: bold;
}
.selected {
            background-color: #dc3545;
            color: #FFF;
}